* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mint-green: #80EE98;
  --seafoam: #46DFB1;
  --tropical-teal: #09D1C7;
  --ocean-deep: #15919B;
  --aqua-twilight: #0C6478;
  --midnight-blue: #213A58;
}

/* ::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: none !important;
  border-color: none !important;
} */



@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #636e72;
}

::-webkit-scrollbar-thumb {
  background: #2d3436;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 5s linear infinite;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');